:root {
  --background-color: #282c34;
  --text-color: #abb2bf;
  --input-bg-color: #3a3f4b;
  --input-focus-border-color: #61afef;
  --terminal-width: 90%;
  --terminal-max-width: 900px;
  --terminal-border-radius: 6px;
  --terminal-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  --font-stack: 'Consolas', 'Courier New', monospace;
  --font-size: 18px;    /* Increased font size */
  --main-padding: 40px; /* Increased padding */
}

* {
  box-sizing: border-box; /* Adjust box sizing to include padding and borders */
}

body {
  font-family: var(--font-stack);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--main-padding);
  padding: var(--main-padding);
}

.hero {
  text-align: center;
  margin: var(--main-padding) 0;
}

#terminal {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between items */
  background-color: var(--input-bg-color);
  color: var(--text-color);
  padding: 10px;
  width: var(--terminal-width);
  max-width: var(--terminal-max-width);
  border-radius: var(--terminal-border-radius);
  box-shadow: var(--terminal-shadow);
  flex-direction: column; /* Stack vertically */
}

#commandInput {
  flex-grow: 1;
  padding: 10px;
  background: var(--input-bg-color);
  border: 1px solid transparent;
  color: var(--text-color);
  width: 100%; /* Full width within container */
}

#commandInput:focus {
  border-color: var(--input-focus-border-color);
}

#simulatorOutput, #commandOutput {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: var(--terminal-border-radius);
  width: 100%; /* Full width to match input */
  margin-top: 10px; /* Space from input */
}

button {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: var(--terminal-border-radius);
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--input-focus-border-color);
}

footer {
  text-align: center;
  margin-top: 20px; /* Space from main content */
}

@media (max-width: 768px) {
  #terminal {
    width: 100%;
    max-width: none;
  }

  main {
    gap: 20px;
  }

  .hero {
    margin: 20px 0;
  }

  footer {
    margin-top: 20px;
  }
}