<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="terminal.css">
    <title>llt</title>
</head>
<script src="terminal.js"></script>
<body>
    <main>
        <section class="hero">
            <h1>llorella's little language terminal (llt)</h1>
            <img id="llt_new" src="llt_new.png" alt="llt new" width="240" height="120">
        </section>
        <section id="terminal">
            <img id="logo" src="llogo.png" alt="cursor">
            <input type="text" id="commandInput" name="command" placeholder="Type your command here" autofocus />
        </section>
        <div id="commandOutput"></div>
    </main>
    <footer>
        <p>&copy; {{ year }} llt. All rights reserved.</p>
    </footer>
</body>
</html>
