<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="terminal.css">
    <title>luciano lauro</title>
</head>
<body>
    <main>
        <section class="hero">
            <h1>{{ heading }}</h1>
            <p>{{ message }}</p>
        </section>
        <section id="terminal">
            <img id="logo" src="llogo.png" alt="cursor">
            <input type="text" id="commandInput" name="command" placeholder="Type your command here" autofocus />
        </section>
    </main>
    <footer>
        <p>&copy; {{ year }} llt. All rights reserved.</p>
    </footer>
</body>
</html>
